* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #bec2dc;
}

.header {
    padding: 20px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #3a4246;
    color: #3a4246;
    align-content: right;
}

h1 { 
    display: inline-block;
    background-color: #18e2e2;
    font-size: 40px; 
    padding: 10px 15px; 
    border: 10px solid #18e2e2; 
    margin: 0px;
    text-align: right;
}

h2 { 
  display: block;
  font-size: 40px; 
  padding: 10px 15px;  
  margin: auto;
  text-align: left;
}

.header nav {
    padding-top: 30px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a:link {
    color: #18e2e2;
    background-color: transparent;
    text-decoration: thick underline;
    border-bottom: 5px #18e2e2;
  }
  
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: thick underline;
  }

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

.banner {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/bluebackground.jpg");
    background-size: cover;
    background-position: center;
}

.dim {
  opacity: 0.5}

.dim:hover {
  opacity: 1
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.card {
  flex: 1 0 100%;
  display: inline-flex;
  padding: 1.5rem;
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
  border: 100px;
  gap: 10px;
  gap: 10px 20px; /* row-gap column gap */
  row-gap: 10px;
  column-gap: 20px;
  margin-left: 500px;
}


.card-header {
  position: absolute;
  margin-top: 100px;
  background-color: #18e2e2;
  opacity: 1;
}

.content {
  position: flex;
  text-align: right;
}

#contact_me {
  position: relative;
  text-align: left;
}

#about_me {
  margin-left: 500px;
}

